{% extends 'blog/base.html' %} <!-- use the layout of base.html -->

{% block title %} Blog {% endblock %} <!-- Block title -->

{% block content %} <!-- Block content from base.html -->

<main role="main">

  <div class="container">
  <h1 class="text-center pt-3">Welcome to Laurent's Blog</h1>
  <br />
  <br />
  <h2>Latest Posts</h2>
  <hr />
  {% for blog in blogs.all %}
  <h3>{{ blog.title }}</h3>
    <h4> {{ blog.date_pub}} </h4>

  <br />
  <img class="img-fluid" src="{{ blog.image.url }}" height=300 width=300 />
  <br />
     <a href="{% url 'detail' blog.id %}"> <button type="button" class="btn btn-primary">Article</button></a>

    <hr />
  {% endfor %}
  </div>

</main>



{% endblock %} <!-- End of block content from base.html -->