{% extends 'blog/base.html' %} <!-- use the layout of base.html -->

{% block title %} Blog {% endblock %} <!-- Block title -->

{% block content %} <!-- Block content from base.html -->


<section id="about" class="container-fluid">
        <div class="heading">
                <h1 class="text-center pt-3"> Mon blog </h1>
                <h4 class="text-center pt-3"> Ici est mon premier blog codé en Django. J'ajouterai des articles au fur et à mesure. </h4>
                <h5 class="text-center pt-3"> Les articles ajoutés concerneront la programmation mais par rapport à des projets sur lesquels j'ai eu à travailler.</h5>
        </div>
</section>

<section id="body" class="container">
  <br />
  <br />
  <h2>Dernier articles </h2>
  <hr />
  {% for blog in blogs.all %}
  <h3>{{ blog.title }}</h3>
    <h4> {{ blog.date_pub}} </h4>

  <br />
  <img class="img-fluid" src="{{ blog.image.url }}" height=300 width=300 />
  <br />
     <a href="{% url 'detail' blog.id %}"> <button type="button" class="btn btn-primary">Article</button></a>

    <hr />
  {% endfor %}

  </section>




{% endblock %} <!-- End of block content from base.html -->