{% extends 'blog/base.html' %} <!-- use the layout of base.html -->

{% block title %} article {{ blog.id}}{% endblock %} <!-- Block title -->

{% block content %} <!-- Block content from base.html -->

<main role="main">
    <section id="detailsblog">
    <div class="heading container">
    <div class="container">
    <h1 class="text-center pt-3">{{ blog.title }}</h1>
        <h2 class="text-center"> Ajouté le {{ blog.date_pub }}</h2>
        </div>
        </div>
    <br />

        <div class="container-fluid body">

            <div class="container body">
    <img class="img-fluid imgbody" src="{{ blog.image.url }}"  />

    <br />
    <br />
    <p>{{ blog.body | safe }}</p>
                 </div>

        <div class="text-center">
            <a href="{% url 'allblogs' %}"> Page précédente </a>
        </div>
            </div>
    </section>
  </main>



{% endblock %} <!-- End of block content from base.html -->gi