
{% extends 'blog/base.html' %} <!-- use the layout of base.html -->

{% block title %} Home {% endblock %} <!-- Block title -->

{% block content %} <!-- Block content from base.html -->

<main role="main">
    <div class="container">

    <h1 class="text-center pt-3">{{ formations.title }}</h1>
    <p class="text-center">{{ formations.center_formation }}</p>
        <p class="text-center">{{ formations.date_to_date}}</p>
    <img class="img-fluid" src="{{ jobs.image.url }}"  />
    <br />
    <br />
    <p class="text-center">{{ jobs.body }}</p>
  </div>

  </main>

{% endblock %} <!-- End of block content from base.html -->3

