
{% extends 'jobs/base.html' %} <!-- use the layout of base.html -->

{% block title %} Details job {% endblock %} <!-- Block title -->

{% block content %} <!-- Block content from base.html -->

<main role="main">
    <section id="detailsjob">
    <div class="container-fluid">

    <h1 class="text-center pt-3">{{ jobs.company }}</h1>
    <h2 class="text-center">{{ jobs.title }}</h2>
        <h5 class="text-center">{{ jobs.date_to_date}}</h5>
    <div class="text-center">
         <img src="{{ jobs.image.url }}"  />
    </div>
    </div>
        </section>
    <br />
    <br />
        <div class="container text-justify">
    <p>{{ jobs.summary | safe }}</p>
        </div>
        <div class="text-center">
            <a href="{% url 'home' %}">Home page </a>
        </div>

  </main>


{% endblock %} <!-- End of block content from base.html -->3

{% block footer %}
<
{% endblock %} <!-- End of block content from base.html -->