
{% extends 'jobs/base.html' %} <!-- use the layout of base.html -->

{% block title %} Home {% endblock %} <!-- Block title -->

{% block content %} <!-- Block content from base.html -->

  {% load staticfiles %}

<section id="about" class="container-fluid">

        <div class="heading">
                <h1>NIZZOLI Laurent</h1>
              <!-- <img src="{% static 'laurentnizzoli.jpg' %}" height="300" / -->
                <p class="presentation col-8 text-justify"> Actuellement en reconversion professionnelle, je suis à la recherche d'une entreprise sur Strasbourg et ses alentours afin d'effectuer la licence professionnelle en alternance "Analyste en Génie Informatique et Réseaux" spécialité Cybersécurité. <br>Après avoir acquis les bases en CSS et HTML, j'ai créé un site web en PHP PDO (projet de fin de formation).
                Le temps passé chez Skalsoft m'a permis d'expérimenter Java, le framework Django ainsi que Docker. <br>
                Je travaille régulièrement sur mon temps libre afin d'acquérir des compétences supplémentaires avec des tutoriaux pour Javascript et Python. Ce site a été codé avec Django.</p>
            <a href="{% static 'CV_Laurent_NIZZOLI.pdf' %}" class="button1" target="_blank">Voir mon CV</a>


        </div>
</section>

  <section id="skills">
            <div class="container">
                 <div class="red-divider"></div>
                <div class="heading">
                    <h2>Compétences</h2>
                </div>
                <div class="row">
        {% for skill in skillsinformatic.all %}
                     <div class="col-md-4">
                         <div class="education-block">
                             <h4> {{ skill.name_skills }} </h4>
                            <span class="fas fa-graduation-cap"></span>

                            <div class="red-divider"></div>
                             <p class="show-more text-justify"> <span> {{ skill.summary | safe }} </span> </p>
                             <img  src="{{ skill.image.url }}" class="read-more">
                             <p> Cliquez sur l'image</p>
                         </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
</section>


  <section id="experience" >
            <div class="container" >
                <div class="white-divider"></div>
                <div class="heading">
                    <h2>Expériences professionelles</h2>
                </div>
                <div class="row" >
          {% for job in jobs.all %}

                            <div class="col-md-4">
              <div class="education-block">
                     <h4 class="card-text+top text-center">{{ job.company }}</h4>
                <h5 class="card-text+top text-center">{{ job.title }}</h5>
                <p class="card-text+top text-center">{{ job.date_to_date }}</p>
                 <span class="fas fa-graduation-cap"></span>
                 <div class="red-divider"></div>
                   <img  src="{{ job.image.url }}"  class="img-fluid">
                    <a href="{% url 'detailjobs' job.id %}" target="_blank"> <button type="button" class="btn btn-primary">Read more</button></a>
              </div>
         </div>
          {% endfor %}
                </div>
            </div>
  </section>

  <section id="education">
            <div class="container">
                 <div class="red-divider"></div>
                <div class="heading">
                    <h2>Formations</h2>
                </div>
                <div class="row">
          {% for formation in formations.all %}
                     <div class="col-md-6">
                         <div class="education-block">
                             <h5>{{ formation.date_to_date }}</h5>
                            <span class="fas fa-graduation-cap"></span>
                            <h3>{{ formation.center_formation }} </h3>
                            <h4> {{ formation.title}} </h4>
                            <div class="red-divider"></div>
                             <p class="show-more text-justify"> <span> {{ formation.body | safe }} </span> </p>
                            <button class="read-more btn btn-info" >Read More</button>
                         </div>
                    </div>
                    {% endfor %}




                </div>
            </div>

</section>

        <hr>
       <section id="recommandations">
            <div class="container">
                <div class="red-divider"></div>
                <div class="heading">
                    <h2>Compétences que je souhaite acquérir</h2>
                </div>
                <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
                    <ol class="carousel-indicators">
                         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="1"class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="2"class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="3" class="active"></li>
                         <li data-target="#myCarousel" data-slide-to="4" class="active"></li>

                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <h3>"Groovy"</h3>
                            <h4>Créer applications Groovy avec Scratch</h4>
                        </div>
                           <div class="carousel-item ">
                            <h3>"Développement Web"</h3>
                            <h4>Jquery, Node.js, Express.js, APIs & Web Design</h4>
                        </div>

                          <div class="carousel-item">
                            <h3>"Spring Framework 5"</h3>
                            <h4>Spring Core, AOP, MVC, Hibernate CRUD & Maven</h4>
                        </div>
                          <div class="carousel-item">
                            <h3>"Docker & Kubernetes"</h3>
                            <h4>Docker avec scratch, Déploiement continue</h4>
                        </div>
                          <div class="carousel-item">
                            <h3>"Python & Framework"</h3>
                            <h4>Acquérir de nouveaux skills en Django</h4>
                        </div>

                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" data-slide="prev" role="button">
                        <span class="fas fa-chevron-left fa-2x"></span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" data-slide="next" role="button" >
                        <span class="fas fa-chevron-right fa-2x"></span>
                    </a>
                </div>
            </div>
        </section>

{% endblock %}
{% block footer %}

{% endblock %} <!-- End of block content from base.html -->